html, body{
	font-family: sans-serif;
	margin: 0;
}

/***** HEADER****/
header{
/***background: url(../img/c_stripes.png);
background-repeat: no-repeat;
background-color: #0000ff;***/
 background-image: linear-gradient(#b3e0ff, #4db8ff);
	padding: 40px;
	text-align: center;
	}

header h1{
	color: white;
	font-size: 100px;
	font-family: "Faster One", cursive;
	text-shadow: 0 4px 20px #000099;
}


header img{
	border-radius: 360px;
	width: 300px;
	border: 41px solid  /*#0000e6*/ #e60000;
	box-shadow: 0 10px 20px #000099;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: aliceblue;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

p{
	color: #003666;
	font-family: 'Roboto', sans-serif;
}

ol{
	list-style: none;
}

#first-fast{
      color:#b3e0ff;
}

#second-fast{
	color: #4db8ff;
}

#third-fast{
	color:  #008ae6;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: #737373;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: #e60000;
	text-decoration: none;
}

footer{
	text-align: center;
	color:  #808080;
	padding: 40px, 20px;
	background-color: #e6e6e6;
	margin-top: 20px;
}

ul{
	text-align: center;
}